/*

PALETA DE COLORES

COLOR1 -  #f5d36d
COLOR2 -  #c38c9f
COLOR3 -  #d90443
COLOR4 -  #540462
COLOR5 -  #efefef
COLOR6 -  #e6b190
COLOR7 -  #fd7fb1
COLOR8 -  #ff715e
COLOR9 -  #e4f0a4
COLOR10 - #adf8f4

*/

/* Configuración global */
* {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}

/* Contenedor full page */
.contenedorflex {
  align-items: center;
  background-image: url(../img/indexwallpaper.jpg);
  background-position: center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: center;
  overflow: hidden;
  text-align: center;
}

label {
  position: absolute;
  top: 10px;
  right: 10px;
}

label img {
  display: block;
  height: 40px;
  width: 50px;
}

#btn-menu {
  display: none;
}

/* Barra de navegación */
.menu {
  background-color: #efefef;
  display: none;
  text-transform: uppercase;
}
.menu ul {
  list-style: none;
  flex-direction: column;
  width: 100%;
}
.menu ul li {
  text-decoration: none;
}
.menu ul li a {
  display: block;
  color: #202020;
  padding: 20px;
  text-decoration: none;
}
/* Efecto del cursor al pasar por el hipervinculo */
.menu ul li:hover {
  background-color: #e6b190;
}

.intro {
  align-items: center;
  background-color: rgba(0, 0, 0, 0.7);
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  width: 100%;
}
.intro .link img {
  height: 350px;
  width: 350px;
}
.intro h1 {
  font-size: 5em;
}
.intro p {
  padding: .5%;
}

/*
* ANIMACIONES DEL MENU
* Usando el selector '~' para seleccionar la clase .menu
*/

#btn-menu:checked ~ .menu {
  display: inherit;
  position: absolute;
  top: 10%;
  width: 100%;
}
