/*

PALETA DE COLORES

COLOR1 -  #f5d36d
COLOR2 -  #c38c9f
COLOR3 -  #d90443
COLOR4 -  #540462
COLOR5 -  #efefef
COLOR6 -  #e6b190
COLOR7 -  #fd7fb1
COLOR8 -  #ff715e
COLOR9 -  #e4f0a4
COLOR10 - #adf8f4

*/

/* Configuración global */
* {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}

/* Fondo banner dle header */
header {
  background-image: url("../img/banner.jpg");
  background-repeat: repeat-x;
  height: 250px;
}
/* Barra superior de la página con logo y titulo */
.initial {
  align-items: center;
  background-color: #e6b190;
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  overflow: hidden;
  padding: 0.2%;
}
/* Rescalado de la imágen */
.initial img {
  height: 45px;
  flex-basis: 3.5%;
  flex-grow: 1;
  flex-shrink: 1;
}
/* Centrar el texto en la caja */
.initial h1 {
  flex-basis: 92%;
  flex-grow: 2;
  flex-shrink: 1;
}

#btn-menu {
  display: none;
}

.initial label {
  flex-basis: 2.5%;
  flex-grow: 1;
  flex-shrink: 1;
}
.initial label:hover {
  cursor: pointer;
}

/* Barra de navegación */
.menu {
  background-color: #efefef;
  display: none;
  text-transform: uppercase;
}
.menu ul {
  list-style: none;
  flex-direction: column;
  width: 100%;
}
.menu ul li {
  text-decoration: none;
}
.menu ul li a {
  display: block;
  color: #202020;
  padding: 20px;
  text-decoration: none;
}
/* Efecto del cursor al pasar por el hipervinculo */
.menu ul li:hover {
  background-color: #e6b190;
}

.flexboxes {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

#apache2{
  color: white;
  font-size: 30px;
  margin-top: 1.2%;
}

.flexboxes > .bottles {
  background-color: #efefef;
  border-bottom: 1.5px solid #d90443;
  flex-basis: 100%;
  margin: 1% 2%;
  overflow: hidden;
}

.bottles h2 {
  background-color: #edcbb5;
  border-bottom: 1.5px solid #adf8f4;
  padding: 1%;
}
.bottles p {
  padding: 1%;
  text-align: justify;
}
.bottles button {
  background-color: #fff;
  border: 1.5px solid #ff715e;
  border-radius: 5px;
  margin: .5% 47%;
  padding: .5%;
}
.bottles button a {
  color: #000;
  font-weight: bold;
  text-decoration: none;
}

/* Footer */
footer {
  background-color: #3b3b3b;
  color: #fff;
  padding: 1.5%;
  text-align: center;
}

/*
* ANIMACIONES DEL MENU
* Usando el selector '~' para seleccionar la clase .menu
*/

#btn-menu:checked ~ .menu {
  display: inherit;
  position: absolute;
  top: 5.55%;
  width: 100%;
}

/*
* CONFIGURACIONES DE MEDIA QUERIS
* Comienzo de diseño para tablets
*/
@media screen and (min-width: 600px) {
  .initial {
    background-color: #3b3b3b;
    color: #fff;
  }
  .flexboxes {
    background-color: #2a2a2a;
  }
  .bottles h2 {
    background-color: #a1a1a1;
    border-bottom: 1.5px solid #adf8f4;
  }
  .flexboxes > .bottles {
    background-color: #6a6a6a;
    border-bottom: 1.5px solid #f5d36d;
  }
}

/*
* CONFIGURACIONES DE MEDIA QUERIS
* Comienzo de diseño para ordenadores
*/
@media screen and (min-width: 768px) {
  .initial {
    max-height: 58px;
  }
  .initial h1 {
    flex-basis: 70%;
    flex-grow: 1;
    flex-shrink: 1;
  }
  label {
    display: none;
  }
  /* Barra de navegación */
  .menu {
    align-items: center;
    background-color: #3b3b3b;
    display: inherit;
    flex-basis: 10%;
    flex-grow: 1;
    flex-shrink: 1;
    justify-content: center;
    max-height: 58px;
  }
  .menu ul {
    display: flex;
    flex-direction: row;
  }
  .menu ul li a {
    color: #fff;
  }
  /* Efecto del cursor al pasar por el hipervinculo */
  .menu ul li a:hover {
    background-color: #3b3b3b;
    color: #ff715e;
  }
}
