/*

PALETA DE COLORES

COLOR1 -  #f5d36d
COLOR2 -  #c38c9f
COLOR3 -  #d90443
COLOR4 -  #540462
COLOR5 -  #efefef
COLOR6 -  #e6b190
COLOR7 -  #fd7fb1
COLOR8 -  #ff715e
COLOR9 -  #e4f0a4
COLOR10 - #adf8f4

*/

/* Configuración global */
* {
  margin: 0;
  padding: 0;
}

/* Fondo banner dle header */
header {
  background-image: url("../img/banner.jpg");
  background-repeat: repeat-x;
  height: 250px;
}
/* Barra superior de la página con logo y titulo */
.initial {
  background-color: #e6b190;
  display: flex;
  flex-wrap: nowrap;
  height: 50px;
  overflow: hidden;
  padding: .15%;
  text-align: center;
}
/* Rescalado de la imágen */
.initial img {
  flex-grow: 1;
  height: 45px;
  margin: .12%;
  position: absolute;
  width: 3.5%;
}
/* Centrar el texto en la caja */
.initial h1 {
  margin: .28%;
  flex-grow: 2;
}

/* Barra de navegación */
nav {
  background-color: #efefef;
  text-align: center;
  text-transform: uppercase;
}
nav ul li {
  padding: .5%;
}
nav ul li a {
  color: #202020;
  text-decoration: none;
}
/* Efecto del cursor al pasar por el hipervinculo */
nav ul li:hover {
  background-color: #e6b190;
}

/* Footer */
footer {
  background-color: #3b3b3b;
  color: #fff;
  padding: 1.5%;
  text-align: center;
}
